<nav aria-label="breadcrumb" *ngIf="isInProductos">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><b>Productos</b></li>
  </ol>
</nav>

<nav aria-label="breadcrumb" *ngIf="!isInProductos">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><b>Cart</b></li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
      <h2 *ngIf="!isInProductos">Total: ${{totalCarrito}}</h2>
  </div>
  <div class="row">
      <button class="btn btn-primary btn-lg mt-2" *ngIf="isInProductos" (click)="sendToCart()" data-toggle="modal"
      data-target="#modelId"> Añadir a la compra </button>
  </div>
//
  <h2 *ngIf="isInProductos">
    <span class="badge badge-secondary">{{contCarrito}}</span>
    artículo<span *ngIf="contCarrito > 1">s</span>
      seleccionado<span
      *ngIf="contCarrito > 1">s</span>.</h2>

  <div class="productos_" *ngIf="isInProductos">
    <app-producto-item *ngFor="let p of productos" [producto]="p" (detailHandler)="detalleProducto($event)"
      (cartAdder)="addToCarrito($event)">
      
    </app-producto-item>
  </div>
  <div class="productos_" *ngIf="!isInProductos">
    <app-producto-item *ngFor="let p of carrito" [producto]="p" (detailHandler)="detalleProducto($event)"
      (productDeleter)="borrarProducto($event)">
    </app-producto-item>
  </div>

</div>
